.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 5px;
  cursor: pointer; 
  overflow: hidden;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 0.6s; 
}


.container > div {
  display: flex;
  align-items: center;
}

.expanded {
  height: 64px;
  width: 250px;
  border-radius: 50px;
  background-color: #fff;
   box-shadow: 0px 8px 12px 0px #0000000F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation-name: grow;
}

@keyframes grow {
  0% {transform: scale(0, 0);}
  100% {transform: scale(1, 1);}
}

.social-network {
   height: 46px;
   width: 180px;
   border-radius: 50px;
   background-color: #fff;
   box-shadow: 0px 8px 12px 0px #0000000F;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.social-network:hover {
  transform: scale(0.95);
}

.social-network > .text {
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

.social-network> .icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.opened {
  height: 250px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.circleButton {
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
}
.circleButton > img{
  margin: 15px;
}

.circleButton>.closeIcon {
  margin: 22px;
}
.message-us {
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  white-space: nowrap;
  color: #000000;
}