.App {
  text-align: center;
}
body {
  background-color:#d0ecf0;
}
.content {
  width: 60%;
  margin: 10px auto;
  /* border: 1px solid red; */
  background-color:#fff;
  padding: 75px 30px;
  line-height: 30px;
  
  box-shadow: 0px 3px 15px 9px #8888
}